<!-- Footer -->
<footer id="footer">
  <ul class="icons" style="vertical-align: middle">
    <!-- Twitter Link -->
    {% if site.twitter_username %}
    <li>
      <a
        href="https://x.com/{{ site.twitter_username }}?lang=en"
        class="icon circle fa-x-twitter"
      >
        <span class="label">Twitter</span>
      </a>
    </li>
    {% endif %}
    <!-- Linkedin Link -->
    {% if site.linkedin_usercode %}
    <li>
      <a
        href="https://www.linkedin.com/in/{{ site.linkedin_usercode }}/"
        class="icon circle fa-linkedin"
      >
        <span class="label">Linkedin</span>
      </a>
    </li>
    {% endif %}
    <!-- GitHub Link -->
    {% if site.github_username %}
    <li>
      <a
        href="https://github.com/{{ site.github_username }}"
        class="icon circle fa-github"
      >
        <span class="label">Github</span>
      </a>
    </li>
    {% endif %}
    <!-- Buy Me A Coffee Link -->
    {% if site.buymeacoffee_username %}
    <li>
      <div
        class="icon circle bmc-wrapper"
        style="
          width: 58px;
          height: 58px;
          overflow: hidden;
          border-radius: 50%;
          display: flex;
          justify-content: start;
          align-items: center; /* centers vertically */
        "
      >
        <script
          type="text/javascript"
          src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
          data-name="bmc-button"
          data-slug="{{ site.buymeacoffee_username }}"
          data-color="#FFDD00"
          data-emoji=""
          data-font="Cookie"
          data-text=""
          data-outline-color="#000000"
          data-font-color="#000000"
          data-coffee-color="#ffffff"
        ></script>
      </div>
    </li>
    {% endif %}
  </ul>
  {% if site.github_username %}
  <ul class="copyright">
    <li>&copy; {{ site.github_username }}</li>
  </ul>
  {% endif %}
</footer>
